.Weather {
  border: 1px solid #dadde1;
  border-radius: 5px;
  font-family: Arial, Helvetica, sans-serif;
  margin: 25px auto;
  padding: 20px;
  color: #878787;
}

.Weather form {
  margin-bottom: 20px;
}

.Weather h1 {
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 10px 0 0 0;
}

.Weather ul {
  margin: 0;
  padding: 0;
}

.Weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 20px;
  list-style: none;
}

.Weather canvas {
  margin-right: 10px;
  height: 64px;
  width: 64px;
}

.Weather .temperature {
  font-weight: bold;
  font-size: 64px;
  line-height: 64px;
  font-weight: 400;
}

.Weather .unit {
  font-size: 16px;
  font-weight: 400;
  position: relative;
  top: -32px;
  margin-left: 8px;
}
